index.css
————-

html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: white;
}
header{
    height: 50px;
    line-height: 50px;
    background: #4955a9;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}
footer{
    height: 30px;
    line-height: 30px;
    background: #4955a9;
    color: white;
    font-size: 8pt;
    text-align: center;
}
section{
    height: calc(100% - 80px);
    overflow: auto;
}
section table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
section table thead{
    background: #e9eef3;
    position: sticky;
    top: 0;
}
section table tr{
    height: 30px;
}
section table tr th, 
section table tr td{
    border: 1px solid #ccc;
}
section table tr:nth-child(even){
    background: #f2f4f6;
}